body {
    margin: 0;
    min-width: 960px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #222222;
    background-color: #f2f4f6;
    background-repeat: no-repeat;
    background-position: top center;
  }
  
  .container {
    max-width: 928px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .page-footer .container {
    max-width: 1408px;
    text-align: right;
  }

  .user-image {
    margin: 0 0 32px;
    text-align: center;
    border-radius: 30%;
  }

  .footer-email {
    padding-left: 30px;
    background-image: url("img/icons8-почта-64.png");
  }
  
  .footer-phone {
    padding-left: 25px;
    background-image: url("img/icons8-сотовый-телефон-64.png");
  }